<!DOCTYPE html>
<html>
    <head>
        <title>Task Manager</title>
        <link rel="stylesheet" href="static/css/app.css"/>
    </head>
    <body>
        <header>
            <h1>Add Task</h1>
            <form id="task-form">
                <input type="text" id="task-creation" placeholder="Task Here...">
                <input type="submit" id="new-task"/>
            </form>
        </header>
        <main>
            <section class="task-list">
                <h2>Tasks</h2>
                
                <div id="tasks">
                </div>
                
            </section>
        </main>
        <script src="static/js/app.js"></script>
    </body>
</html>